<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">SampleApp</a>
        </div>
        <ul class="nav navbar-nav">
            <li routerLink="" [routerLinkActive]="['active']">
                <a>Home</a>
            </li>
            <li routerLink="/contacts" [routerLinkActive]="['active']">
                <a>Contact</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container">
    <router-outlet></router-outlet>
</div>